<a href="https://colab.research.google.com/github/swethanarayanan/hello-world/blob/master/Hello_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Main Data structures

1.   List  [1,2,3] | Mutable

*   List can be used as a stack as well as a queue - x.pop() - stack. x.pop(0) is queue

2.   Integer, Float

3.   Tuple (1,2,3) | Immutable

4.  Dictionary - Key value pair, or hashmap or slang structure

*   Dictionaries have a method called items that returns a sequence of tuples, where each tuple is a key-value pair

5.  String

6.  Pandas Dataframe 

7.  Matrix

In Python 3, there are two types that represent sequences of characters: bytes and str. Instances of bytes contain raw 8-bit values. Instances of str contain Unicode characters.

### Python cool stuff



1.  List comprehensions

2.  Map reduce

### Other Useful stuff

In [0]:
import sys
print('Python: {}'.format(sys.version))

Python: 3.6.8 (default, Jan 14 2019, 11:02:34)
[GCC 8.0.1 20180414 (experimental) [trunk revision 259383]]

### List

You can append two lists in python with a +

In [0]:
[1] + [2,3]

[1, 2, 3]

In [0]:
numbers = [1,2,3]
for i in range(len(numbers)):
    print(i)
    numbers[i] = numbers[i] * 2
print(numbers)

0
1
2
[2, 4, 6]

In [0]:
result_list = [0] * 5
result_list

[0, 0, 0, 0, 0]

In [0]:
 for i, bit in enumerate(result_list):
    print(str(bit) + "," + str(i))

0,0
0,1
0,2
0,3
0,4

In [0]:
#Store all three values of the list in 3 new variables
x= [1,2,3]
a,b,c = x
a

1

In [0]:
x.pop() #Delete the last element from list and print it (i.e pop)

3

In [0]:
x.append(5)
x

[1, 2, 5]

In [0]:
x = [1,2,3]
x.append(5)
x.pop(0)

1

In [5]:
a = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h']
print('First four:', a[:4])
print('Last four: ', a[-4:])
print('Middle two:', a[3:-3])

First four: ['a', 'b', 'c', 'd']
Last four:  ['e', 'f', 'g', 'h']
Middle two: ['d', 'e']

In [6]:
a[:1] #evaluates to less than 1 index, hence only 0

['a']

When slicing from the start of a list, you should leave out the zero index to reduce visual noise.

In [0]:
assert a[:5] == a[0:5]


When slicing to the end of a list, you should leave out the final index because itâ€™s redundant.

In [0]:
assert a[5:] == a[5:len(a)]

In [12]:
a[:-5] #5th character from end is NOT included

['a', 'b', 'c']

### Stride

a[start:end:stride]

In [3]:
a = ['red', 'orange', 'yellow', 'green', 'blue', 'purple']
odds = a[::2]
evens = a[1::2]
odds

['red', 'yellow', 'blue']

In [4]:
evens

['orange', 'green', 'purple']

### Stride can also be used for reversing a string or a list

That works well for byte strings and ASCII characters, but it will break for Unicode characters encoded as UTF-8 byte strings.

In [8]:
a[::-1]

['purple', 'blue', 'green', 'yellow', 'orange', 'red']

### Python is forgiving of index out of bounds

In [7]:
a[:10]

['red', 'orange', 'yellow', 'green', 'blue', 'purple']

### Integer, Float

In Python 3, they made the / operator do a floating-point division, and added the // operator to do integer division (i.e. quotient without remainder);

In [0]:
4 / 3

1.3333333333333333

In [0]:
4 // 3

1

### Data frame

In [0]:
import pandas as pd

# Load dataset
url = "https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data"
names = ['sepal-length', 'sepal-width', 'petal-length', 'petal-width', 'class']
dataset = pd.read_csv(url, names=names)

# descriptions
print(dataset.describe())

       sepal-length  sepal-width  petal-length  petal-width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.054000      3.758667     1.198667
std        0.828066     0.433594      1.764420     0.763161
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

In [0]:
# Create data
data = {'score': [1,2,3,4,5]}

# Create dataframe
df = pd.DataFrame(data)

df

   score
0      1
1      2
2      3
3      4
4      5

### Tuple

In python, tuples are immutable but lists are mutable

In [0]:
t1 = ('a', 'b', 'c', 'd', 'e')

t2 = (1,2)

Cool feature, tuple assignment

In [0]:
t1, t2 = t2, t1

In [0]:
t2

('a', 'b', 'c', 'd', 'e')

### String manipulation

In [0]:
addr = 'monty@python.org'
uname, domain = addr.split('@')
uname

'monty'

In [0]:
  #Reverse a string
  a =  "codementor"
  print(a[::-1])

rotnemedoc

In [0]:
#Create a single string from all the elements in list above.
a = ["Code", "mentor", "Python", "Developer"]
print(" ".join(a))

Code mentor Python Developer

In [0]:
print("code"*4+' '+"mentor"*5)

codecodecodecode mentormentormentormentormentor

### Dictionary

In [0]:
d = {'a':0, 'b':1, 'c':2}
t = d.items()
t

dict_items([('a', 0), ('b', 1), ('c', 2)])

### Matrix

In [0]:
#transpose a matrix
mat = [[1, 2, 3], [4, 5, 6]]
mat_t = zip(*mat)
# or mat_t = rez = [[m[j][i] for j in range(len(m))] for i in range(len(m[0]))] 
for row in mat_t: 
    print(row)

(1, 4)
(2, 5)
(3, 6)

### List comprehensions

In [0]:
def list_double_when_greater_then_five(list):
  return [num*2 for num in list if num > 5]

In [0]:
list_double_when_greater_then_five([1,2,3,4,5,6,7])

[12, 14]

### Map reduce

In [0]:
arr = map(lambda x : 2*x, [1,2,3,4,5])

In [0]:
from functools import reduce
reduce(lambda x,y : x+ y, arr)

30

In [1]:
[1]*6

[1, 1, 1, 1, 1, 1]

In [1]:
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!

In [2]:
import sys
print(sys.version_info)
print(sys.version)

sys.version_info(major=3, minor=6, micro=8, releaselevel='final', serial=0)
3.6.8 (default, Jan 14 2019, 11:02:34)
[GCC 8.0.1 20180414 (experimental) [trunk revision 259383]]

### Whats a python runtime
You're computer doesn't understand python natively, it only understands machine code. In order to get your machine to run python code you need some way to convert it into machine code. The programs, libraries, and configuration that allow you to do this are collectively known as the "python runtime environment".There are multiple popular runtimes for Python: CPython, Jython, IronPython, PyPy, etc.

### Python style guide
Python Enhancement Proposal #8, otherwise known as PEP 8, is the style guide for how to format Python code. Follow style guide here  : https://www.python.org/dev/peps/pep-0008/

### Encoding and decoding in python

In [0]:
def to_str(bytes_or_str):
    if isinstance(bytes_or_str, bytes):
        value = bytes_or_str.decode('utf-8')
    else:
        value = bytes_or_str
    return value  # Instance of str

In [0]:
def to_bytes(bytes_or_str):
    if isinstance(bytes_or_str, str):
        value = bytes_or_str.encode('utf-8')
    else:
        value = bytes_or_str
    return value  # Instance of bytes

### Python's pithy syntax 
A pithy phrase or statement is brief but full of substance and meaning.